.btn-lenovo::after{
  content: url("../img/btn-logo/lenovo.png");
  position: relative;
  right: 155px;
  top: 3px;
}
.btn-apple::after{
  content: url("../img/btn-logo/apple.png");
  position: relative;
  right: 155px;
  top: -9px;
}
.btn-bosch::after{
  content: url("../img/btn-logo/bosch.png");
  position: relative;
  right: 155px;
  top: 3px;
}
.btn-acer::after{
  content: url("../img/btn-logo/acer.png");
  position: relative;
  right: 155px;
  top: 3px;
}
.btn-hp::after{
  content: url("../img/btn-logo/hp.png");
  position: relative;
  right: 155px;
  top: -9px;
}
.btn-sony::after{
  content: url("../img/btn-logo/sony.png");
  position: relative;
  right: 155px;
  top: 3px;
}
.btn-viewSonic::after{
  content: url("../img/btn-logo/view_sonic.png");
  position: relative;
  right: 155px;
  top: 3px;
}
.btn-samsung::after{
  content: url("../img/btn-logo/sumsung.png");
  position: relative;
  right: 155px;
  top: 3px;
}
