body{
    margin: 0;
    padding: 0;
}
.header{
    min-width: 320px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    margin-left: 14px;
    padding:0;
}
.h1 {
    height: 24px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    box-sizing:border-box;
    margin-left: 24px;
}
.swiper{
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    display:flex;
    height: 120px;
    margin-left: 24px;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
}
.swiper-wrapper{
    margin-bottom: 40px;
}
.swiper-slide {
    height: 72px;
    width: 224px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    align-self: center;
    box-sizing: border-box;
    margin-left: 5px;
}

.btn{
    position:relative;
    left:160px;
    top: 15px;
    height: 40px;
    width: 40px;
    background:url("img/go.svg") no-repeat;
    border: none;
    cursor: pointer;
    transition: 1s all;

}
.btn:hover{
    height: 45px;
    opacity: 0.5;
}
.btn::before {
    content: url('img/Bitmap.svg');
    position:relative;
    right:150px;
}
body::after{
    content: '';
    position: absolute;
    right:-30px;
    top:95px;
    height: 50px;
    width: 24px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    z-index: 2;
}
 .swiper-slide{
    margin-left: 10px;
}
.footer{
    margin-left: 24px;
    height: 50px;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    max-width: 1120px;
    display:flex;
    box-sizing: border-box;
    justify-content: flex-start;
}
.none{
    display:none;
}
.margin-left{
    margin-left: 10px;
}
.showAll{
   height: auto;
}
.showLess {
    height: 100px;
}
.rotate {
    transform: rotate(180deg);
}
.readMore {
    height: 24px;
    width: 132px;
    border:none;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background: none;
    box-sizing: border-box;
}
.icon{
    background: url('img/icon.png') no-repeat left;
    height: 20px;
    width: 20px;
    margin-left: 20px;

}
/*.readMore::before{
    position: absolute;
    content:url('img/icon.png');
    margin-top: 2px;
    display: block;
}*/

@media screen and (max-width: 321px) {
    .header{
        min-width: 333px;
    }
    .footer{
        display:none;
    }

}
@media screen and (min-width: 325px){
    body::after{
       right:-100px;
    }
    .header{
        margin: 0 auto;
    }
    .h1{
        margin-left: 40px;
    }
    .swiper {
        min-height: 160px;
        margin: 0 auto;
    }
    .swiper-wrapper{
        display:grid;
        grid-template-columns: repeat(auto-fill, 224px);
        gap: 10px;
        min-height: 180px;
        margin-left: 30px;
        overflow: hidden;
        background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }
    .swiper-pagination{
        display:none;
    }
    .readMore{
        margin-left: -20px;

    }
}

@media screen and (min-width:1120px) {
    body {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header{
        width: 1120px;
        margin: 0 auto;
    }
    .swiper {
        width: 1120px;
        margin:0 auto;
    }

    .footer {
        width: 1120px;
        margin: 0 auto;
    }
    .readMore{
        margin: 0 30px
    }
}
