body{
    margin: 0;
    padding: 0;
}
.header{
    max-width: 320px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    margin-left: 10px;
    padding:0;
}
.h1 {
    height: 24px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    box-sizing:border-box;
    margin-left: 24px;
}
.swiper{
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    display:flex;
    height: 120px;
    margin-left: 24px;
    flex-wrap: nowrap;
    overflow: hidden;
}
.swiper-wrapper{
    margin-bottom: 40px;
}
.swiper-slide {
    height: 72px;
    width: 224px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    align-self: center;
    box-sizing: border-box;
    margin-left: 5px;
}
.swiper-pagination {

}
.btn{
    position:relative;
    left:160px;
    top: 15px;
    height: 40px;
    width: 40px;
    background:url("img/go.svg") no-repeat;
    border: none;
    cursor: pointer;
    transition: 1s all;

}
.btn:hover{
    height: 45px;
    opacity: 0.5;
}
.btn::before {
    content: url('img/Bitmap.svg');
    position:relative;
    right:150px;
}
body::after{
    content: '';
    position: absolute;
    right:0;
    top:95px;
    height: 50px;
    width: 24px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    z-index: 2;/*linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);*/


}
.main{
    display:grid;
    grid-template-columns: repeat(auto-fill, 224px);
    gap: 10px;
    height: 160px;
    overflow: hidden;
    margin-left: 24px;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}
.main .swiper-slide{
    margin-left: 10px;
}
.footer{
    margin-left: 24px;
    height: 50px;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}
.none{
    display:none;
}
.showAll{
   height: auto;
}
.readMore {
    height: 24px;
    width: 132px;
    border:none;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-left: 20px;
    margin-top: 20px;
    background: none;
}
.readMore::before{
    position: absolute;
    content:url('img/icon.png');
    margin-left:-15px;
    margin-top: 2px;
}
.readLess{
    height: 24px;
    width: 132px;
    border:none;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-left: 5px;
    margin-top: 20px;
    background: none;
}
.readLess::before{
    position: absolute;
    content:url('img/icondown.png');
    margin-left:-15px;
    margin-top: 2px;
}

@media screen and (min-width: 321px){
    .swiper{
        display:none;
    }
    .header{
        min-width: 100%;
    }
    body::after{
       right:0;
    }
}
@media screen and (max-width: 321px) {
.main{
    display: none;
}
    .footer{
        display:none;
    }
}
/*
.h1{
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    margin-left: 24px;
}
.main{
    width:768px;
    background: #F2F2F2;
    display:grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 96px 96px 20px;
   
    
}


.btn{
    position:relative;
    left:170px;
    top: 15px;
    height: 40px;
    width: 40px;
    background:none;
    border: 2px solid #FF3E79;
    border-radius: 20px;
}
.btn::before {
    content: url('img/Bitmap.svg');
    position:relative;
    right:150px;
    
}
.btn::after{
    content: url('img/dropdown.svg'); 
    position:relative;
    bottom:25px;
    left: 2px;  
}
.btn-readmore{
    height: 24px;
    width: 132px;
    border:none;
    background-color: #F8f8f8;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-left: 20px;
    margin-bottom: 50px;
    background: #F2F2F2; 
   
   
 }
 .btn-readmore::before{
    position: absolute;
    content:url('img/icon.png');
    margin-left:-15px;
    margin-top: 2px; 
     
 }
 .footer{
    width:768px;
    background: #F2F2F2; 
 }
*/
