.swiper-slide:nth-child(1) > .swiper-2__forward::after {
  content: 'Ремонт ноутбуков';
  font-family: 'TT Lakes',sans-serif;
  font-weight: 550;
  white-space: nowrap;
  position: relative;
  bottom: 100px;
  right: 160px;
}
.swiper-slide:nth-child(2) > .swiper-2__forward::after {
  content: 'Ремонт телефонов';
  font-family: 'TT Lakes',sans-serif;
  font-weight: 550;
  white-space: nowrap;
  position: relative;
  bottom: 100px;
  right: 160px;
}
.swiper-slide:nth-child(3) > .swiper-2__forward::after {
  content: 'Ремонт планшетов';
  font-family: 'TT Lakes',sans-serif;
  font-weight: 550;
  white-space: nowrap;
  position: relative;
  bottom: 100px;
  right: 160px;
}
.swiper-slide:nth-child(4) > .swiper-2__forward::after {
  content: 'Ремонт КАРМЫ';
  font-family: 'TT Lakes',sans-serif;
  font-weight: 550;
  white-space: nowrap;
  position: relative;
  bottom: 100px;
  right: 160px;
}
.swiper-slide:nth-child(5) > .swiper-2__forward::after {
  content: 'Ремонт НЕРВОВ';
  font-family: 'TT Lakes',sans-serif;
  font-weight: 550;
  white-space: nowrap;
  position: relative;
  bottom: 100px;
  right: 160px;
}
.swiper-slide:nth-child(6) > .swiper-2__forward::after {
  content: 'Ремонт РЫБОВ';
  font-family: 'TT Lakes',sans-serif;
  font-weight: 550;
  white-space: nowrap;
  position: relative;
  bottom: 100px;
  right: 160px;
}
.swiper-slide:nth-child(7) > .swiper-2__forward::after {
  content: 'Ремонт ДЕТЕЙ';
  font-family: 'TT Lakes',sans-serif;
  font-weight: 550;
  white-space: nowrap;
  position: relative;
  bottom: 100px;
  right: 160px;
}
.swiper-slide:nth-child(8) > .swiper-2__forward::after {
  content: 'Ремонт ГЛАЗ';
  font-family: 'TT Lakes',sans-serif;
  font-weight: 550;
  white-space: nowrap;
  position: relative;
  bottom: 100px;
  right: 160px;
}
.swiper-slide:nth-child(9) > .swiper-2__forward::after {
  content: 'Ремонт УШЕЙ';
  font-family: 'TT Lakes',sans-serif;
  font-weight: 550;
  white-space: nowrap;
  position: relative;
  bottom: 100px;
  right: 160px;
}
